<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%# <a class="navbar-brand" href="#">Navbar</a> %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

     

    <li class ="nav-item">
      <%= link_to "Entrar",
    new_user_session_path, class:"
    nav-link" %>
  </li>



  <li class ="nav-item">
  <%= link_to "Sair",
    destroy_user_session_path,
    method: :delete, class:"
    nav-link" %>
</li>

<li class ="nav-item">
  <%= link_to "Editar",
    edit_user_registration_path, class:"
    nav-link" %>
</li>

 <li class="nav-item">
      <%= link_to "Funcionarios", funcionarios_path, class:"nav-link"%>
  </li>

   <li class ="nav-item">
      <%= link_to "Registrar",
    new_user_registration_path, class:"
    nav-link" %>
    </li>

    <li class ="nav-item">
      <%= link_to "Clientes",
    clientes_path, class:"
    nav-link" %>
    </li>
    <li class ="nav-item">
      <%= link_to "Produtos",
    produtos_path, class:"
    nav-link" %>
    </li>
   
   
    
    </ul>

  </div>
</nav>
